<h2>Search</h2>
<hr />
<%= form_tag(search_path, method: "post") do %>

	<div class="form-group" class="field">
    	<h4>Category</h4>
    	<%= select(:search, "category_id", options_for_select(@categories.collect { |c| [ c.name, c.id ] }), { prompt: 'All Categories' }, { class: "form-control", style: "width:auto" }) %>
  	</div>

  	<div class="form-group" class="field">
  		<h4 id="location_title">Location</h4>
      <%= bootstrap_radio_button('location_auto', 'location', 'Detect automatically (device location)') %>
      <%= bootstrap_radio_button('location_manual', 'location', 'Choose Manually') %>
  		<div class="form-group" class="field">
  			<%= select_tag(:location_select, options_for_select(@locations), prompt: 'Select Place', class: "form-control", style: "width:auto") %>
  		</div>
      <%= hidden_field(:search, :location) %>
  	</div>
    <div class="form-group" class="field">
      <h4>Radius (in kilometers)</h4>
      <div class="form-group" class="field">
        <%= number_field(:search, :radius, { :min => 0.1, :step => 0.1, :value => '0.5' }) %>
      </div>
    </div>
  	<div class="form-group" class="field">
  		<h4 id="period_title">Period</h4>
  		<%= bootstrap_radio_button('period_auto', 'period', 'Detect automatically (current period)') %>
      <%= bootstrap_radio_button('period_manual', 'period', 'Choose Manually') %>
  		<div class="form-group" class="field">
  			<%= select_tag(:period_select, options_for_select(@periods), prompt: 'Select Period', class: "form-control", style: "width:auto") %>
  		</div>
      <%= hidden_field(:search, :period) %>
  	</div>

    <div class="form-group" class="field">
      <h4 id="day_of_week_title">Day of Week</h4>
      <%= bootstrap_radio_button('day_of_week_auto', 'day_of_week', 'Detect automatically (today)') %>
      <%= bootstrap_radio_button('day_of_week_manual', 'day_of_week', 'Choose Manually') %>
      <div class="form-group" class="field">
        <%= select_tag(:day_of_week_select, options_for_select(Date::DAYNAMES), prompt: 'Select Day of Week', class: "form-control", style: "width:auto") %>
      </div>
      <%= hidden_field(:search, :day_of_week) %>
    </div>

    <div class="form-group" class="field">
      <h4>Number of Results</h4>
      <div class="form-group" class="field">
        <%= number_field(:search, :number_of_results, { :min => 1, :value => '5' }) %>
      </div>
    </div>
    <br />
  	<div class="form-group" class="actions">
    	<%= submit_tag "Show Recommendations", :id => 'search', :class => "btn btn-primary" %>
  	</div>
<% end %>
