<div class="panel panel-default">
  <div class="panel-heading"><b>Search Parameters</b></div>

  <table class="table">
    <tr>
    	<td>Category Name</td>
    	<td>
			<% if @categories.size > 1 %>
				All Categories
			<% else %>
				<%= @categories[0].name %>
			<% end %>
    	</td>
    </tr>
    <tr>
    	<td>Location</td>
    	<td><%= @location %></td>
    </tr>
   	<tr>
    	<td>Radius</td>
    	<td><%= @radius %>km</td>
    </tr>
   	<tr>
    	<td>Period</td>
    	<td><%= @period %></td>
    </tr>
    <tr>
    	<td>Day of Week</td>
    	<td><%= @day_of_week %></td>
    </tr>
    <tr>
    	<td>Number of Results</td>
    	<td><%= @number_of_results %></td>
    </tr>
    <tr>
        <td><b>Execution Time</b></td>
        <td><b><%= @execution_time %></b></td>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><b>Businesses</b></div>

  <table class="table">
    <% if @businesses.count == 0 %>
        <tr>
            <td>No businesses found</td>
            <td></td>
            <td></td>
        </tr>
    <% else %>
        <tr>
            <td><b>Name</b></td>
            <td><b>Categories</b></td>
            <td><b>Checkins count (based on Day of Week and Period of day)</b></td>
            <td></td>
        </tr>
    <% end %>
    <% @businesses.each do |business| %>
        <tr>
            <td><%= business.name %></td>
            <td><%= business.categories.map{|c| c.name }.join(', ') %></td>
            <td><%= business.checkins_count %></td>
            <td style="text-align:right"><%= link_to 'Map', business.map_link, :class => "btn btn-primary", :target => '_blank' %></td>
        </tr>
    <% end %>
  </table>
</div>

